* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9d13e;
  font-family: monospace;
  font-weight: 100;
}
.form-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 8px 10px 15px #f5bc1d;
}

.pb-20 {
  padding-bottom: 20px;
}

.container-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputRadio:checked {
  background-color: #3b3b3b;
}

.inputRadio:focus,
.inputs:focus {
  box-shadow: none;
}

.btn-submit:hover {
  color: #ffffff;
  background-color: #2e2e2e;
}

.img-jbhunt {
  width: 100%;
  max-width: 500px;
}

.input {
  width: 100%;
  max-width: 500px;
}

.container-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container-texArea {
  height: 100px !important;
}

.btn-submit {
  width: 100%;
  max-width: 500px;
  height: 60px;
  background-color: #3b3b3b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.inputs {
  background-color: #dbdbdb !important;
}

.label {
  color: #383535;
}
